@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+VN:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+VN:wght@100..400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* greek */
@font-face {
  font-family: 'MiSans Latin';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://i02.appmifile.com/i18n/fonts/MiSansLatin/woff2/medium/1.woff2?v=lwrpi0i5')
    format('woff2');
  unicode-range: U+0370-03FF;
}


@layer components {
  .text-balance {
    text-wrap: balance;
  }
  body {
    padding: 0px;
    margin: 0px;
  }
  .baner {
    background: #000000;
    border-bottom: 1px solid #3b373d;
  }
  .navbackground {
    background: linear-gradient(180deg, #000, #0000);
    border-bottom: 1px solid #3b373d;
    transition: 0.8s ease;
    background-color: #360808;
  }
  .navbackground:hover {
    background-color: #000000;
  }
  .nav-item {
    font-family: sans-serif;
    font-weight: 500;
    line-height: 15px;
    margin: 0;
    padding: 17px 0;
    color: #ffffff;
    gap: 15px;
  }
  .nav-item li {
    font-weight: 600;
    line-height: 15px;
    margin: 0;
    padding: 17px 0;
  }
  .logbar {
    display: flex;
    gap: 18px;
    padding: 5px;
  }
  .logbar div {
    height: 18px;
    width: 20px;
    fill: #aa1717;
    color: rebeccapurple;
    font-weight: 600;
  }

  /* ------------------nav menu battom------------- */
  /* From Uiverse.io by Cevorob */
  .burger {
    position: relative;
    width: 30px;
    height: 25px;
    background: transparent;
    cursor: pointer;
    display: block;
  }

  .burger input {
    display: none;
  }

  .burger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: rgb(10, 10, 10);
    border-radius: 8px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }

  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }

  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }

  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }

  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }

  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 22px;
    left: 5px;
  }

  /* -------------------------------start project--------------------------- */
  /* navbar css */
  nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 1;
  }
  .navbar {
    background: linear-gradient(180deg, rgba(25, 25, 25, 0.06));
    background-color: #ffffff;
    background: 0 6px 16px 0 rgba(25, 25, 25, 0.06);
  }
  .logoweb {
    color: rgb(10, 10, 10);
    font-size: 20px;
    font-weight: 800;
  }
  .fontcolor {
    /* font-family: sans-serif, MiSans Latin; */
    /* font-family: "MiSans","Latin",; */
    font-family: "Noto Sans";
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    color: rgb(10, 10, 10);
  }
  .logo {
    color: rgb(10, 10, 10);
  }

  .logo:hover {
    /* fill: #ec0c0c; */
    color: #06eb3f;
  }

  /* sidebar css */
  .login {
    text-transform: capitalize;
    font-family: sans-serif, MiSans Latin;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1.5px solid red;

    /* border-bottom: 1px solid #3b373d; */
  }
  .menueitem > li {
    padding: 2px;
  }

  /* ----------Banner Css--------- */
  .Banner {
    margin-top: 0px;
    box-sizing: border-box;
  }
  .BannerImg {
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    height: 600px;
  }
  @media screen and (min-width: 721px) and (max-width: 1024px) {
    .BannerImg {
      height: 360px;
    }
  }
  h1{
    font-size: 190px;
    /* font-family: "Playwrite VN", serif ; */
    
    
  }

  /* ----------Featured Css--------- */
  @media screen and (min-width: 721px) and (max-width: 1024px) {
    .info {
     
      grid-template-columns: repeat(4, minmax(0, 2fr));
    }
    .Tb1 .imgtb{
      /* height: 261px;
      width: 431px; */
      
    };
    .Tbinfo{
      display: none;
    }
    .Tb2 .imgtb2 {
        height: 115px;
        width: 115px;    
        }
  }
}
