@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-balance {
    text-wrap: balance;
  }
  .baner {
    background: #000000;
    border-bottom: 1px solid #3b373d;
  }
  .navbackground {
    background: linear-gradient(180deg, #000, #0000);
    border-bottom: 1px solid #3b373d;
    transition: 0.8s ease;
    background-color: #360808;
  }
  .navbackground:hover {
    background-color: #000000;
  }
  .nav-item {
    font-family: sans-serif;
    font-weight: 500;
    line-height: 15px;
    margin: 0;
    padding: 17px 0;
    color: #ffffff;
    gap: 15px;
  }
  .nav-item li {
    font-weight: 600;
    line-height: 15px;
    margin: 0;
    padding: 17px 0;
  }
  .logbar {
    display: flex;
    gap: 18px;
    padding: 5px;
  }
  .logbar div {
    height: 18px;
    width: 20px;
    fill: #aa1717;
    color: rebeccapurple;
    font-weight: 600;
  }

  /* ------------------nav menu battom------------- */
  /* From Uiverse.io by Cevorob */
  .burger {
    position: relative;
    width: 30px;
    height: 25px;
    background: transparent;
    cursor: pointer;
    display: block;
  }

  .burger input {
    display: none;
  }

  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: rgb(248, 247, 247);
    border-radius: 8px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }

  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }

  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }

  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }

  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }

  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 22px;
    left: 5px;
  }

  /* -------------------------------start project--------------------------- */
  .logoweb {
    color: rgb(229, 236, 229);
    font-size: 20px;
    font-weight: 800;
    margin: 0px;
    padding: 0px;
  }
  .fontcolor {
    color: white;
  }
  .logo {
    color: white;
  }
  .logo:hover {
    /* fill: #ec0c0c; */
    color: #d81212;
  }
}
